@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

/*
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;

*/

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  position: relative;
  overflow: hidden;
}
img {
  max-width: 100%;
}

/* HeaderComponent */
.header-section {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  padding: 1.9em 0 5em 0;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7em;
}
.header-row > div:nth-child(1) {
  width: 40%;
}
.header-row button {
  background: transparent;
  border: 1px solid hsl(321, 100%, 78%);
  border-radius: 40px;
  box-shadow: 3px 3px 5px rgb(223, 229, 229);
  color: hsl(321, 100%, 78%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: .3em 1em;
}
.header-main h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: hsl(192, 100%, 9%);
  padding-bottom: 30px;
}
.header-main p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(192, 100%, 9%);
  padding-bottom: 42px;
}
.header-main button {
  border: none;
  border-radius: 40px;
  background: hsl(322, 100%, 66%);
  box-shadow: 3px 5px 5px rgb(223, 229, 229);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  margin-bottom: 80px;
  padding: 1em 3em;
}

/* NumbersComponent */
.numbers-section {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
}
.numbers-row {
  display: block;
  width: 50%;
  margin: auto;
  text-align: left;
}
.numbers-row > div {
  margin-bottom: 6em;
}
.numbers-row div img {
  width: 25%;
}
.numbers-row div h1 {
  color: hsl(192, 100%, 9%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 4rem;
}
.numbers-row div p {
  color: rgb(160, 161, 165);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/* Text */
.bg-top-image {
  background-image: url("/public/images/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}
.bg-color {
  background: rgb(246, 251, 255);

}
.text-container {
  width: 80%;
  margin: 0 auto;
  padding: 4em 0;
  /* border: 1px solid red; */
}
.bg-bottom-image {
  background-image: url("/public/images/bg-section-bottom-mobile-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  margin-bottom: 1em;
}
.grow-together-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3em 0 .5em 0;
}
.grow-together-text {
  color: hsl(192, 100%, 9%);
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.7em; 
}

.flowing-conversation-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3em 0 .5em 0;
}
.flowing-conversation-text {
  color: hsl(192, 100%, 9%);
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.7em; 
  margin-bottom: 3em;
}

.bg-top-image-users {
  background-image: url("/public/images/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}


/* BuildCommunity */
.build-section {
  margin: 6em 0 12.5em 0;
}
.build-container {
  width: 80%;
  margin: 0 auto;
}
.build-container h1 {
  color: hsl(192, 100%, 9%);
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.3em;
}
.build-container .build-btn {
  background-color: rgb(254, 82, 192);
  border-radius: 40px;
  box-shadow: 3px 3px 5px rgb(223, 229, 229);
  color: #fff;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: .8em 3em;
  text-decoration: none;
}

/* FooterComponent */
.footer-img {
  background-image: url("/public/images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
}
.footer {
  background-color: rgb(0, 39, 45);
  color: #fff;
  text-align: left;
}
.footer-container {
  width: 80%;
  margin: 0 auto;
  padding: 3em 0;
}
.newsletter {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-bottom: 1em;
  text-transform: uppercase;
}
.newsletter-paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 2em;
  line-height: 1.6em;
}
.form {
  position: relative;
  margin-bottom: 8em;
}
.form input {
  border-radius: 7px;
  margin-bottom: 1em;
  padding: 1em 0;
  width: 100%;
}
.form button {
  background-color: rgb(254, 82, 192);
  color: #fff;
  border: none;
  border-radius: 7px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: .834em 0;
  width: 50%;
  position: absolute;
  right: 0;
}
.footer-logo {
  filter: invert(100%) contrast(200%);
  margin-bottom: 1em;
}
.footer-lorem {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6em; 
  margin-bottom: 2em;
}
.footer-contact-row {
  display: flex;
  align-items: center;
  margin: 1em 0;
}
.div-img {
  margin-right: 1em;
}
.div-p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.socials {
  margin-top: 2em;
}
.socials svg {
  margin-right: 1em;
  width: 25px;
  height: 40px;
}

@media(min-width: 1000px) {
  /* HeaderComponent */
  .header-section {
    max-width: 1295px;
    margin: 0 auto;
  }
  .header-row {
    margin-top: 3.1em;
    margin-bottom: 18.4em;
  }
  .header-row > div:nth-child(1) {
    width: 18%;
  }
  .header-row button {
    font-size: 1rem;
    padding: .65em 2em;
  }
  .header-main {
    display: block;
  }
  .header-main h1 {
    font-size: 3rem;
    padding-bottom: 35px;
  }
  .header-main p {
    font-size: 1.3rem;
    padding-bottom: 42px;
    width: 50%;
    margin: 0 auto;
  }
  .header-main button {
    border: none;
    border-radius: 40px;
    background: hsl(322, 100%, 66%);
    box-shadow: 3px 5px 5px rgb(223, 229, 229);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 80px;
    padding: 1.7em 2em;
    width: 30%;
  }
  /* NumbersComponent */
  .numbers-section {
    max-width: 1295px;
    margin: 3em auto;
  }
  .numbers-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    text-align: left;
  }
  .numbers-row > div {
    margin-bottom: 6em;
  }
  .numbers-row div img {
    width: 25%;
  }
  .numbers-row div h1 {
    font-size: 6rem;
  }
  .numbers-row div p {
    font-size: 1.3rem;
    text-align: center;
  }

  /* Text */
  .bg-top-image {
    background-image: url("/public/images/bg-section-top-desktop-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
  }
  .bg-color {
    background: rgb(246, 251, 255);

  }
  .d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .d-flex-invert {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text-container {
    width: 80%;
    margin: 0 auto;
    padding: 4em 0;
    max-width: 1295px;
    text-align: left;
  }
  .bg-bottom-image {
    background-image: url("/public/images/bg-section-bottom-desktop-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    margin-bottom: 3em;
  }
  .grow-together-title {
    font-size: 2.7rem;
    margin: 3em 0 .5em 0;
  }
  .grow-together-text {
    font-size: 1.3rem;
    line-height: 1.7em; 
    width: 80%;
  }

  .flowing-conversation-title {
    font-size: 2.7rem;
    margin: 3em 0 .5em 0;
    text-align: center;
  }
  .flowing-conversation-text {
    font-size: 1.3rem;
    margin-bottom: 3em;
    text-align: center;
  }

  .bg-top-image-users {
    background-image: url("/public/images/bg-section-top-desktop-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
  }

  /* Build component */
  .build-section {
    margin: 6em 0 12.5em 0;
  }
  .build-container {
    max-width: 1925px;
  }
  .build-container h1 {
    font-size: 2.7rem;
    margin-bottom: 1.2em;
  }
  .build-container .build-btn {
    border-radius: 100px;
    box-shadow: 5px 8px 15px rgb(224, 228, 231);
    padding: 1.5em 6em;
  }

  /* FooterComponent */
  .footer-img {
    background-image: url("/public/images/bg-footer-top-desktop.svg");
    background-size: cover;
    height: 200px;
  }
  .footer {
    background-color: rgb(0, 37, 46);
    padding: 4em 0;
    color: #fff;
    text-align: left;
  }
  .footer-container {
    max-width: 1925px;
    margin: 0 auto;
  }
  .d-flex-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .d-flex-footer > div:nth-child(1) {
    text-align: left;
    width: 35%;
  }
  .newsletter {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-bottom: 1em;
    text-transform: uppercase;
  }
  .newsletter-paragraph {
    width: 70%;
  }
  .form {
    position: relative;
    margin-bottom: 0em;
  }
  .form input {
    border-radius: 7px;
    margin-bottom: 0em;
    padding: 1.29em 0;
    width: 60%;
  }
  .form button {
    padding: .834em 0;
    width: 35%;
    right: 0%;
  }
  .footer-logo {
    filter: invert(100%) contrast(200%);
    margin-bottom: 1.5em;
  }
  .footer-lorem {
    margin-bottom: 2em;
    width: 40%;
  }
  .footer-contact-row {
    margin: 1.5em 0;
  }
  .div-img {
    margin-right: 1.5em;
  }
  .div-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }
  .socials {
    margin-top: 4em;
  }
  .socials svg {
    margin-right: 1em;
    width: 45px;
    height: 60px;
  }
  
}